{% extends 'blog/base.html' %}
{%  block content %}

    {% if not object_list %}
        Лента пуста
    {% else %}
        <table>
        {% for feed in object_list %}
        <tr>
            <td><a href="{% url 'blog:user' feed.post.author_id %}"> {{feed.post.author}} </a></td>
            <td><a href="{% url 'blog:post' feed.post.id %}">  {{feed.post.title}} </a></td>
            <td>    {{feed.post.date| date:"d.m.Y H:i:s"}}</td>
            <td>
                <form class="r_fromd" action="{% url 'blog:set_read' %}" method="post" >{% csrf_token %}
                     <input type="hidden"  name="redirect_url" value="{{request.path}}"/>
                     <input type="hidden" name="post_id" value = {{feed.post.id}} >
                    {% if  feed.is_read %}
                    <input type="submit" value = "Прочитан"/>
                    {% else %}
                    <input type="submit" value = "Не прочитан"/>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}

 <hr>

{% if paginator.num_pages > 1 %}
    {% if page_obj.has_previous %}
        <a href="{% url 'blog:feed' page_obj.previous_page_number %}"><=</a>
    {% endif %}

    {{page_obj.number}} of {{paginator.num_pages}}

    {% if page_obj.has_next %}
        <a href="{% url 'blog:feed' page_obj.next_page_number %}">=></a>
    {% endif %}
{% endif %}
{% endblock %}