<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои посты</title>
</head>
<body>


<h2><a href="{% url  'blog:new_post' %}">Новый пост</a></h2>


<table border = "0"  cellpadding="2" cellspacing="4" >
 <tr bgcolor="ddaaff">
    <td>Title</td><td>Date</td>
    </tr>
    {% for post in list_posts %}
    <tr>
    <td><a href ="{% url 'blog:post' post.id %}">{{post.title}}</a> </td><td> {{post.date| date:"d.m.Y H:i:s"}} </td>
    </tr>
    {% endfor %}


</table>
</body>
</html>