<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои посты</title>
</head>
<body>
{% include "blog/menu_inline.html" %}
<div id="data">
<a href="{% url  'blog:new_post' %}">Новый пост</a>
<hr>
{% if list_posts %}
<table >

    {% for post in list_posts %}
    <tr>
        <td><a href ="{% url 'blog:post' post.id %}">{{post.title}}</a> </td>
        <td> {{post.date| date:"d.m.Y H:i:s"}} </td>
        <td><a href="{% url 'blog:delete_post' post.id %}"> удалить </a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
У вас пока нет постов
{% endif %}
</div>
</body>
</html>