<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои подписки</title>
</head>
<style>
    .list_item{
    float: left;
    padding-right: 20px;
    }
</style>
<body>
{% include "blog/menu_inline.html" %}
<div id="data">
{% if object_list %}
    {% for x in object_list %}
<p>
    <a href="{% url 'blog:user' x.blog.id %}" class="list_item"> {{x.blog.username}} </a>



     <form action="{% url 'blog:delete_subscribe' x.id %}" method="post">{% csrf_token %}
        <input type="hidden" name="redirect_url" value="{{request.path}}"/>
        <input type="submit" value="отписаться"/>
    </form>

</p>
    {% endfor %}
{% else %}
Список пуст
{% endif %}
</div>
</body>
</html>