{% extends 'blog/base.html' %}
{%  block content %}

     {{object}}

    {% if subscribe %}
        <form action="{% url 'blog:delete_subscribe' subscribe.id %}" method="post" class="r_form">{% csrf_token %}
            <input type="hidden" name="redirect_url" value="{{request.path}}"/>
            <input type="submit" value="отписаться"/>
        </form>
    {% else %}
        <form action="{% url 'blog:subscribe' %}" method="post" class="r_form" >{% csrf_token %}
            <input type="hidden" name="blog" value="{{user.id}}"/>
            <input type="hidden" name="redirect_url" value="{{request.path}}"/>
            <input type="submit" value="Подписаться"/>
        </form>
    {% endif %}

<hr>
{% if list_posts %}
    Посты:
    <table >
        {% for post in list_posts %}
        <tr>
            <td>
            <a href ="{% url 'blog:post' post.id %}">{{post.title}}</a>
            </td>
            <td> {{post.date| date:"d.m.Y H:i:s"}} </td>
         </tr>
        {% endfor %}
    </table>
{% else %}
    У пользователя нет постов
{% endif %}

{% endblock %}